<body>
    <nav>
      <ul>
        <li>
          <a href="/users">Users</a>
        </li>
        <li>
          <a href="/photos">Photos</a>
        </li>
      </ul>
    </nav>

    <h1>List of users</h1>

<form action="/add_user" method="post">
  <label for="browser_username">Username</label>
  <input id="browser_username" type="text" name="input_username" placeholder="Enter a username...">

  <button>Add user</button>
</form>

<hr>

<table border="1">
  <tbody><tr>
    <th>
      ID
    </th>

    <th>
      Username
    </th>

    <td>
    </td>
  </tr>

  <% @all_users.each do |user| %>
    <tr>
      <td>
         <%= user.id %>
      </td>

      <td>
        <%= user.username %>
      </td>

      <td>
        <a href=<%= "/users/" + user.username %>>
          Show details
        </a>
      </td>
    </tr>
    <% end %>

</tbody></table>
</body>
